* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  width: 100vw;
  min-height: 95vh;
  padding: 0vh 0vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 5vh;

  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font: 800 3vh "Poppins", sans-serif;
  color: lightcoral;
  padding: 1vh 2vh;
}

header .add-btn {
  color: cadetblue;
  font: 800 2vh "Poppins", sans-serif;
  border: none;
  padding: 1vh 2vh;
  background-color: lightblue;
  justify-self: flex-end;
  align-content: stretch;
}

.gallery-container {
  margin: 2vh;
  padding: 3vh;
  min-width: 50vw;
  max-width: 70vw;
  min-height: 35vh;
  background-color: lightgray;
  border-radius: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
}

.card-container {
  width: 12vw;
  height: 30vh;
  background-color: cadetblue;
  border-radius: 2vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.card-container div {
  padding-top: 1vh;
  padding-left: 1vh;
  width: 12vw;
}

.card-container .title {
  font-size: 3vh;
  font-weight: 500;
}

.card-container .author {
  font-size: 2vh;
  font-weight: 300;
}

.card-container .description {
  font-size: 1.5vh;
  font-weight: 200;
}

.book-form {
  width: 30vw;
  height: 30vh;
  padding: 2vh;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: lightblue; /* background color */
  transform: translate(-50%, -50%); /* center the element */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* shadow effect */
  border-radius: 8px; /* optional: rounded corners */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2vh;
}

.book-form input {
  width: 100%;
  height: 3vh;
  padding: 1vh;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.book-form button {
  width: 60%;
  height: 3vh;
  padding: 1vh;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  align-self: center;
}